@import url("https://raw.githubusercontent.com/webpack/css-loader/main/test/fixtures/url/imported.css");

a {
    background: url("https://raw.githubusercontent.com/webpack/css-loader/main/test/fixtures/url/img.png");
}
